body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  background: url('https://e0.pxfuel.com/wallpapers/967/154/desktop-wallpaper-solid-black-1920%C3%971080-black-solid-color-background-top.jpg') center/cover no-repeat;
}

.card {
  border: none;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

img {
  transition: 0.3s;
}

img:hover {
  transform: scale(1.05);
}
#ramas img {
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

#ramas h3 {
  margin-top: 10px;
  font-weight: bold;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(1);
}

.redes-hero {
  display: flex;
  justify-content: center;
  gap: 15px;
}

/* base */
.red-expand {
  display: flex;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  overflow: hidden;
  transition: 0.4s;
  padding: 0 15px;
}

/* icono */
.icon {
  min-width: 30px;
  text-align: center;
  font-weight: bold;
}

/* texto oculto */
.texto {
  opacity: 0;
  margin-left: 10px;
  white-space: nowrap;
  transition: 0.3s;
}

/* colores */
.whatsapp { background: #25D366; }
.tiktok { background: #000; }
.instagram { background: #E1306C; }

/* cuando se abre */
.red-expand.active {
  width: 190px;
}

.red-expand.active .texto {
  opacity: 1;
}
.icon {
  font-size: 30px;
  min-width: 60px;
  text-align: center;
}

/* links */
.texto a {
  color: white;
  text-decoration: none;
}

.texto a:hover {
  text-decoration: underline;
}

.navbar-toggler {
  border: none;
  font-size: 24px;
}

.navbar {
  overflow: hidden;
}
